@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg: #18191a;
  --color-primary: #e0e0e0;
  --color-text: #cccccc;
  --color-secondary: #888888;
  --color-link: #b0b0b0;
}

body {
  font-family: var(--font-inter);
  background: var(--color-bg);
  color: var(--color-text);
}
